/* @import '../../css/App.css'; */

.service-open{
  width: 100%;
  min-height: 200px;
  background-color: var(--grey-color);
  padding: 0 0 100px 0;
}
.service-content{
  display: flex;
  column-gap: 65px;
  
}
.content-img{
  width: 455px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 18px;
}
 
.service-text-btn{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}

.content-text {
  line-height: 30px;
}
.service-text-btn .btn {
  margin-top: auto;
}

@media (max-width: 1200px) {
  .content-img{
    width: 360px;
  }
  
}

@media (max-width: 1100px) {
    .service-content{
    flex-direction: column;
    gap: 30px;
  }
  .content-img{
    height: 200px;
    width: 100%;
  }
}
@media (max-width: 700px) {

}
@media (max-width: 500px) {

}