/* @import '../../css/App.css'; */

.service-open{
  width: 100%;
  min-height: 200px;
  background-color: var(--grey-color);
  padding: 100px 0;
}
.service-content{
  display: grid;
  column-gap: 65px;
  
}
.content-img{
  width: 455px;
  height: 420px;
  grid-area: 1 / 1 / 3 / 2;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
}
 
.content-text {
  line-height: 30px;
  grid-area: 1 / 2 / 2 / 3;
}
.service-content .btn {
  margin-top: auto;
  grid-area: 2 / 2 / 3 / 3;
}