/* @import '../../css/App.css'; */

.header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(254, 254, 254, 0.90);
  backdrop-filter: blur(5px);
  z-index: 1000;
}
.header-container
{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-address
{
  max-width: 380px;
}
.title-accent{
  color: var(--blue-color);
}
.corner{
  width: 20px;
  height: 20px;
  background-image: url(/corner_right.svg);
}
.corner-left{
  transform: rotate(90deg);
}
.under
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.under-header
{
  display: none;
  align-items: center;
  justify-content: center;
  width: 72%;
  border-radius: 0 0 18px 18px;
  background-color: rgba(254, 254, 254, 0.90);
  height: 50px;
}
.under-header:hover{
  width: 74%;
}

.burger-button{
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  cursor: pointer;
}
.burger-line{
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/burgerLine.svg);
}
.burger-button:hover{
  gap: 9px;
}
.open{
  display: flex;
}

@media (min-width: 701px) {
  .under-header{
    display: flex;
  }
}

@media (max-width: 700px) {
  
  .burger-button{
    display: flex;
  }
  .header-address{
    display: none;
  }
  .corner{
    display: none;
  }
  .under-header{
    position: absolute;
    align-items: start;
    margin-top: 10px;
    padding-top: 30vh;
    width: 100vw;
    height: 100vh;
    background-color: var(--blue-color);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }
  .under-header:hover{
    width: 100vh;
  }
  .header-logo{
    font-size: 24px;
  }
  .header{
    border-radius: 0 0 18px 18px;
    height: 68px;
  }
}
