/* @import '../../css/App.css'; */

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  transition: .1s;
  
}
.footer-container .nav .nav-item {
  color: var(--light-color);

}
.router-link-active{
  color: var(--blue-color);
}
.nav-item:hover{
  color: var(--blue-color);
}

@media (max-width: 700px) {
  .under .nav{
    flex-direction: column;
    gap: 40px;
    font-size: 24px;
    justify-content: start;
  }
  .router-link-active{
    color: var(--light-color);
  }
  .nav-item:hover{
    color: var(--light-color);
  }
}