@import '../../css/App.css';

.slider{
  width: 100%;
  height: 100vh;
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  position: relative;
  transition: .5s;
}

.slider-mini{
  width: 100%;
  height: 400px;
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  position: relative;
  transition: .5s;
}

.slider-mini .slider-control{
  top: 60%;
}

.slider-mini .slide-text{
  display: none;
}
.slider-mini .slide-topic{
  font-size: 32px;
}


.slide {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide.active {
  visibility: visible;
  opacity: 1;
}

.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.slide-info{
  position: absolute;
  left: 10%;
  top: 40%;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.slide-topic{
  font-size: 48px;
  display: flex;
  text-align: left;
  background-color: var(--light-color);
  border-radius: 20px;
  padding: 10px;
  opacity: .9;
}
.slide-text{
  margin-top: 20px;
  font-size: 18px;
  text-align: left;
  background-color: var(--light-color);
  border-radius: 20px;
  padding: 8px;
  width: 35%;
  opacity: .9;
}

.slider-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url(/slide_arrow.svg);
  cursor: pointer;

  background-size: cover;
}

.control-right:hover {
  transform: translateY(-50%) scale(.8);
}
.control-left:hover {
  transform: translateY(-50%) rotate(180deg) scale(.8);
}
.control-left{
  transform: translateY(-50%) rotate(180deg);
  left: 20px;
}
.control-right{
  right: 20px;
}
.indicator{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:20%;
  left: 18%;
  gap: 8px;
  z-index: 1;
}

.dot{
  z-index: 10;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.dot.active {
  transform: scale(.9);
  background-color: var(--blue-color);
}

.slider-mini .indicator{
  display: none;
}


.slider {
  position: relative;
}

.slides-container {
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-info {
  text-align: center;
}

@media (max-width: 700px) {
  .slider{
    height: 400px;
  }
  .slider-mini{
    height: 200px;
  }
  .slide-info{
    width: 360px;
  }
  .indicator{
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-control {
    height: 25px;
    width: 25px;
  }
  .slide-topic{
    font-size: 20px;
    /* background-color: transparent; */
  }
  .slide-text{
    display: none;
  }
  .slider-control {
    top: 86%;
  }
}
@media (max-width: 460px) {
  .slide-info{
    width: 300px;
    left: 2%;
  }
}